.mat-list-avatar {
    border-radius: 0 !important;
}

.paging-list-item:hover {
    background:#6db3ef !important;
    cursor: pointer ;
    color: #ffffff !important;
}
.paging-list-item:hover small {
    color: #ffffff !important;
}