<div div class="col-md-4">
<md-list>
  <md-list-item class="paging-list-item" *ngFor="let person of persons">
      <img md-list-avatar src="{{person.img}}" alt="...">
      <h5 md-line><b>{{person.name}}</b></h5>
      <p md-line>
        <span class="demo-2"><small>{{person.statement}} statements</small></span>
      </p>
  </md-list-item>
  
</md-list>
</div>

